.product-img{
    transition: all 0.5s;
    filter: drop-shadow(0 0 7px #5AA8D6);
}
.product-img:hover{
  filter: drop-shadow(0 0 10px #09547fd7);
transform: scale(1.3);
}
.suggestion-container{
  border: 0.2px solid rgba(255, 255, 255, 0.04);
}