/* .category-container{
    transition: all 0.7s !important;
} */
.category-img {
  transition: all 0.4s !important;
}
.category-container {
  backdrop-filter: blur(2px) saturate(95%);
  /* -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(9, 46, 255, 0.039); */
}
.category-container:hover .category-img {
  filter: blur(8px);
  transform: scale(1.1);
}

.category-container:hover .category-title {
  display: block;
  filter: drop-shadow(0 0 5px rgb(59, 59, 139));
}
