@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Vazirmatn:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.head{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body{
  font-family: "Vazirmatn", sans-serif;
  font-weight: 300;
  background-color: #edf2f7;
  --sb-track-color: #888888;
  --sb-thumb-color: #273e56;
  --sb-size: 6px;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 27px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 27px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}



::selection {
  color: #181a1d;
  background: rgba(13, 135, 165, 0.747);
}