@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Vazirmatn:wght@300&display=swap');
.head{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}


body{
  font-family: "Vazirmatn", sans-serif;
  font-weight: 300;
  background-color: #edf2f7;
  --sb-track-color: #888888;
  --sb-thumb-color: #273e56;
  --sb-size: 6px;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 27px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 27px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}